<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>Gandhinagar Municipal Corporation</h1>
    <div class="main-container">

        <div class="options">
            <a href="/admin/adddept">
                <button>Add Department</button>
            </a>
        </div>
        <div class="options">
            <a href="/admin/addlocation">
                <button>Add location</button>
            </a>
        </div>
        <div class="options">
            <a href="/admin/addsolution">
                <button>Add Solution</button>
            </a>
        </div>
        <div class="options">
            <a href="/admin/addattachment">
                <button>Add Attachment</button>
            </a>
        </div>
    </div>
</body>

</html>