<p style="text-align: center; color:gray; padding: 2rem 0; ">&#169; Gandhinagar Municipal Corporation 2024</p>

<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            { pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.VERTICAL, autoDisplay: 'true', includedLanguages: 'gu,hi' },
            'google_translate_element'
        );
    }
</script>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>