<section id="header">
    <div class="main-logo logos">
        <a href="/admin/home"><img src="/img/Gandhinagar-01.png" alt="" class="logu"></a>
        <!-- <a href="/admin/home"><img src="/img/smartcity-01.png" alt="" class="logo"></a> -->
    </div>
    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <a href="#" id="close"><i class="fa-solid fa-circle-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <i class="fa-solid fa-bars" id="bar"></i>
    </div>
</section>
<script src="/js/navbar.js"></script>