<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/collaps.css">
</head>

<body>
    <div class="data">
        <h2>Aadhar Department</h2>
        <h3>
            mobile no:7600195223
        </h3>
        <h3>
            location :3rd floor karmyogi bhavan..
        </h3>
    </div>
    <div>
        <h1>અપના પ્રશ્નો:-</h1>
        <section class="accordion">
            <input type="checkbox" name="collapse" id="handle1" checked="checked">
            <h2 class="handle">
                <label for="handle1">01. આધાર કાર્ડ કેવી રીતે કઢાવી શકું</label>
            </h2>
            <div class="content">
                <p><strong>Overall Impression:</strong> A pale, bitter, highly attenuated and well carbonated Trappist
                    ale, showing a fruity-spicy Trappist yeast character, a spicy-floral hop profile, and a soft,
                    supportive grainy-sweet malt palate.</p>
                <p><strong>History:</strong> While Trappist breweries have a tradition of brewing a lower-strength beer
                    as a monk’s daily ration, the bitter, pale beer this style describes is a relatively modern
                    invention reflecting current tastes. Westvleteren first brewed theirs in 1999, but replaced older
                    lower-gravity products.</p>
            </div>
        </section>
        <section class="accordion">
            <input type="checkbox" name="collapse2" id="handle2">
            <h2 class="handle">
                <label for="handle2">02. આધાર કાર્ડ મા નામ બાદલવા માટે</label>
            </h2>
            <div class="content">
                <p><strong>Overall Impression:</strong> A deep reddish-copper, moderately strong, malty, complex
                    Trappist ale with rich malty flavors, dark or dried fruit esters, and light alcohol blended together
                    in a malty presentation that still finishes fairly dry.</p>
                <p><strong>History:</strong> Originated at monasteries in the Middle Ages, and was revived in the
                    mid-1800s after the Napoleonic era.</p>
            </div>
        </section>
        <section class="accordion">
            <input type="checkbox" name="collapse2" id="handle3">
            <h2 class="handle">
                <label for="handle3">03. આધાર કાર્ડ મા ફોન નંબર બાદલવા માટે</label>
            </h2>
            <div class="content">
                <p><strong>Overall Impression:</strong> A pale, somewhat spicy, dry, strong Trappist ale with a pleasant
                    rounded malt flavor and firm bitterness. Quite aromatic, with spicy, fruity, and light alcohol notes
                    combining with the supportive clean malt character to produce a surprisingly drinkable beverage
                    considering the high alcohol level.</p>
                <p><strong>History:</strong> Originally popularized by the Trappist monastery at Westmalle.</p>
            </div>
        </section>
        <details class="accordion">
            <summary>Summary, caption, or legend for the content</summary>
            <div class="content1">
                <p>
                    Content goes here.
                </p>
            </div>
        </details>
    </div>
</body>

</html>