<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deptlist</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>
        Deparatment List
    </h1>
    <div class="main-container">
        <% for( let key of deptdata){%>
            <div class="options">
                <form action="/deptinfo" method="post">
                    <button type="submit">
                        <%= key.name%>
                    </button>
                    <input type="hidden" value="<%= key.name%>" name="deptname">
                </form>
            </div>
            <%}%>
    </div>
</body>

</html>