<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>Gandhinagar Municipal corporation</h1>
    <div class="main-container">
        <div class="options">
            <form action="/dept" method="post">
                <input type="hidden" value="GMC" name="building">
                <button type="submit">Gmc</button>
            </form>
        </div>
        <div class="options">
            <button>karmyogi bhavn</button>
        </div>
        <div class="options">
            <button>Sachivaly</button>
        </div>
    </div> <br><br>
    <p>hello world!</p>
</body>

</html>