<!DOCTYPE html>
<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs')%>
            <main>
                <%- include('../includes/slider.ejs') %>
                    <div class="header1 nine">
                        <h1>Gandhinagar Municipal corporation<span>portal for citizen</span></h1>
                    </div>

                    <div class="main-container">
                        <div class="item">
                            <div class="item-1">
                                <form action="/dept" method="post">
                                    <input type="hidden" value="GMC" name="building">
                                    <button type="submit" class="btn-login"><img src="/img/Gandhinagar-01.png" alt="">
                                        <div class="detail">
                                            <h3>Gmc</h3>
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-1">
                                <button class="btn-login"><i class="fa-duotone fa-building"></i>
                                    <div class="detail">
                                        <h3>karmyogi bhavn</h3>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-1">
                                <form action="/jobnews" method="post">
                                    <input type="hidden" value="job" name="newstype">
                                    <button type="submit" class="btn-login"><i class="fa-regular fa-bullhorn"></i>
                                        <div class="detail">
                                            <h3>Job news</h3>
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-1">
                                <form action="/culturenews" method="post">
                                    <input type="hidden" value="cevent" name="newstype">
                                    <button type="submit" class="btn-login"><i class="fa-sharp fa-light fa-scroll-old"></i>
                                        <!-- <i class="fa-sharp fa-solid fa-scroll-old"></i> -->
                                        <!-- <i class="fa-solid fa-bullhorn"></i> -->
                                        <div class="detail">
                                            <h3>Culture News</h3>
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- <div class="options">
                    </div> -->
                        <!-- <div class="options">
                        <button>Sachivaly</button>
                    </div> -->
                    </div> 
                    <!-- <p>hello world!</p> -->
            </main>
            <%- include('../includes/end.ejs') %>
                <!-- <div class="options">
                <form action="/culturenews" method="post">
                    <input type="hidden" value="cevent" name="newstype">
                    <button type="submit">Culture News</button>
                </form>
            </div> -->